@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header {
    background: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.img-drop{
    background-color: black;
    padding: 10px;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
  
.dropdown-content a:hover {
    background-color: black;
    color: white;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  

.logo{
    width: 60px;
    padding-left: 20px;
}

.texto-logo{
    padding-left: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;

}

.posi_logo{
    text-align: center;
    display: flex;
    align-items: center;
}

.posi-img{
    align-items: center;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.container{
    background-color: #ffffff;
}

.img-fundo{
    width: 80%;
    border-radius: 3px;
}

.titulo1{
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 2rem;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #390052;
}

.titulo3{
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 3rem;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #390052;
}

.card {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.card > div {
    flex: 1 1 200px;
    margin: 20px;
    background-color: #f1f1f1;
    padding: 10px;
    border: 2px solid #9B00DE;
}

.posi-card{
    text-align: center;
}

.posi-card a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-transform: uppercase;
}

.mapa{
    text-align: center;
    margin-bottom: 30px;
}

.rodape{
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.art_rod{
    width: 33.33%;
}

.news{
    color: #9B00DE;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 5px;
}

.art_rod p{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 5px;
}

.art_rod input{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 5px;
    width: 50%;
    border-radius: 2px;
    outline: none;
    padding: 6px;
}

/*pagina de compra*/

.produtos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    background-color: #390052;
    color: white;
    padding: 5px;
}

/*pagina de cadastro*/
  
.content{
    width: 500px;
    margin: 5% auto;
    position: relative; 
    border: 2px solid #9B00DEed;
    border-radius: 5px;
    padding: 25px;
}
  
  /* formatando o cabeçalho dos formulários */
.content h1{ /*mudar para h1*/
    font-size: 48px;
    color: #6F009E;
    padding: 10px 0;
    font-family: 'PT Sans', sans-serif;;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    text-transform: uppercase;
  }
  
.content p{
    margin-bottom:15px;
}

.content label{
    color: #405c60;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
  
::-webkit-input-placeholder  {
    color: #bebcbc; 
    font-style: italic;
}
  
.content input{
    width: 95%;
    margin-top: 4px;
    padding: 10px;  
    border: 1px solid #390052;
    border-radius: 3px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /*estilo do botão submit */
.content button{
    width: 100%!important;
    cursor: pointer;  
    background: #6F009E;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff; 
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    transition: all 0.2s linear;
  }
.content button{
    background: #7b6a83;
}

.link-conta {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.lista-pc{
    margin-left: 80px;
    list-style-type: circle;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.lista-pc li{
    padding: 5px;
}

.lista-pc a{
    text-decoration: none;
}

.pecas{
    margin: 20px;
}

.titulo2{
    padding-bottom: 10px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #390052;
}

.nome-pecas{
    font-family: 'Roboto', sans-serif;
    margin-top: 18px;
    padding-bottom: 8px;
}

.nome-pecas a{
    color: rgb(4, 12, 126);
}

.descricao{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 16px;
}

.descricaoP{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(192, 6, 6);
    padding-bottom: 5px;
}

.preco{
    color: green;
    font-weight: bold;
}

.btn-produto{
    display: flex;
    justify-content: center;
}

.btn-produto button{
    cursor: pointer;  
    background: #6F009E;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff; 
    margin-top: 20px;
    margin-bottom: 30px;  
    text-shadow: 0 1px 1px #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.btn-produto button:hover{
    background: #7b6a83;
}

.texto{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.video{
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 15px;
}

table,td,th{
    border:1px solid #9B00DEed;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
}

td{
    padding: 8px;
}

th{
    text-align: center;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
}

.tabela{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.guia{
    margin: 20px;
}

.tituloV{
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    color: rgb(206, 10, 10);
    text-transform: uppercase;
    margin-top: 20px;
}

.tituloN{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.data{
    font-size: 0.8rem;
    margin-bottom: 15px;
}

.noticia img{
    align-items: center;
    text-align: center;
}

.noticia{
    margin: 50px;
    padding-bottom: 30px;
}

.posi-imgN{
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
}

.textoN{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 6px;
    text-align: justify;
}

.noticia a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}